<a href="https://colab.research.google.com/github/BidexTech/HDSCFall23/blob/main/Stage_B_Graded_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np             # Numerical operations
import pandas as pd            # Data manipulation and analysis
import matplotlib.pyplot as plt # Data visualization
import seaborn as sns           # Enhanced data visualization

from sklearn.model_selection import train_test_split  # Data splitting
from sklearn.preprocessing import StandardScaler     # Data preprocessing
from sklearn.linear_model import LinearRegression    # Linear regression
from sklearn.tree import DecisionTreeClassifier       # Decision Trees
from sklearn.ensemble import RandomForestClassifier   # Random Forest
from sklearn.cluster import KMeans                    # Clustering
from sklearn.metrics import accuracy_score, mean_squared_error  # Evaluation metrics

In [7]:
#read the dataset
df = pd.read_csv('./energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [8]:
df.shape

(19735, 29)

In [10]:
#Rename column

column_names = {'T1':'Temperature_Kitchen', 'RH_1': 'Humidity_kitchen',
                'T2':  'Temperature_livingroom', 'RH_2': 'Humidity_livingroom',
                'T3': 'Temperature_laundryroom','RH_3': 'Humidity_laundryroom',
                'T4': 'Temperature_officeroom', 'RH_4': 'Humidity_officeroom',
                'T5':'Temperature_bathroom', 'RH_5': 'Humidity_bathroom',
                'T6':  'Temperature_outsidebuilding', 'RH_6': 'Humidity_outsidebuilding',
                'T7': 'Temperature_ironingroom','RH_7': 'Humidity_ironingroom',
                'T8': 'Temperature_teenagerroom', 'RH_8': 'Humidity_teeenagerroom',
                'T9':'Temperature_parentroom', 'RH_9': 'Humidity_parentroom',
                }

df = df.rename(columns=column_names)

df.head()

,date,Appliances,lights,Temperature_Kitchen,Humidity_kitchen,Temperature_livingroom,Humidity_livingroom,Temperature_laundryroom,Humidity_laundryroom,Temperature_officeroom,...,Temperature_parentroom,Humidity_parentroom,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [13]:
df.describe()

,Appliances,lights,Temperature_Kitchen,Humidity_kitchen,Temperature_livingroom,Humidity_livingroom,Temperature_laundryroom,Humidity_laundryroom,Temperature_officeroom,Humidity_officeroom,...,Temperature_parentroom,Humidity_parentroom,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   date                         19735 non-null  object
 1   Appliances                   19735 non-null  int64
 2   lights                       19735 non-null  int64
 3   Temperature_Kitchen          19735 non-null  float64
 4   Humidity_kitchen             19735 non-null  float64
 5   Temperature_livingroom       19735 non-null  float64
 6   Humidity_livingroom          19735 non-null  float64
 7   Temperature_laundryroom      19735 non-null  float64
 8   Humidity_laundryroom         19735 non-null  float64
 9   Temperature_officeroom       19735 non-null  float64
 10  Humidity_officeroom          19735 non-null  float64
 11  Temperature_bathroom         19735 non-null  float64
 12  Humidity_bathroom            19735 non-null  float64
 13  Temperature_outsidebuilding  19735 non-null  float64
 14  Humidity_outsidebuilding     19735 non-null  float64
 15  Temperature_ironingroom      19735 non-null  float64
 16  Humidity_ironingroom         19735 non-null  float64
 17  Temperature_teenagerroom     19735 non-null  float64
 18  Humidity_teeenagerroom       19735 non-null  float64
 19  Temperature_parentroom       19735 non-null  float64
 20  Humidity_parentroom          19735 non-null  float64
 21  T_out                        19735 non-null  float64
 22  Press_mm_hg                  19735 non-null  float64
 23  RH_out                       19735 non-null  float64
 24  Windspeed                    19735 non-null  float64
 25  Visibility                   19735 non-null  float64
 26  Tdewpoint                    19735 non-null  float64
 27  rv1                          19735 non-null  float64
 28  rv2                          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [15]:
#the missing value in decending order and filtering out the zero values(No missing value)
df.isnull().sum().sort_values(ascending = False)[df.isnull().sum().sort_values(ascending = False)!=0]

Series([], dtype: int64)

In [36]:
#df=df.drop(columns=['date', 'lights'])
df.shape

(19735, 27)

In [51]:

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

X = df[['Temperature_livingroom']]
y = df['Temperature_outsidebuilding']
# Split the data into a training set and a testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Create and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)
# Make predictions on the testing set
y_prediction = model.predict(X_test)
# Calculate the RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_prediction))

print(f'Root Mean Squared Error (RMSE): {rmse:.3f}')
#Root mean square error in decimal is 3.633

Root Mean Squared Error (RMSE): 3.633

In [67]:
from sklearn.metrics import mean_absolute_error
y_train_prediction = model.predict(X_train_scaled)
mae_train = mean_absolute_error(y_train, y_train_prediction)
# Print the MAE into three decimal places
print(f'Mean Absolute Error (MAE) for the training set: {mae_train:.3f}') #53.742

Mean Absolute Error (MAE) for the training set: 53.742

In [71]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
# alread removed the columns earlier
#df = df.drop(columns=['date', 'lights'])

# Define the feature columns (X) and the target variable (y)
X = df.drop(columns=['Appliances'])
y = df['Appliances']

# Step 2: Perform a 70-30 train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Step 3: Normalize the dataset using MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Step 4: Create and train a multiple linear regression model
model = LinearRegression()
model.fit(X_train_scaled, y_train)

# Step 5: Make predictions on the test set
y_prediction = model.predict(X_train_scaled)

# Calculate the RMSE (Root Mean Squared Error)
rmse = mean_squared_error(y_train, y_prediction, squared=False)

# Print the RMSE in three decimal places
print(f'Root Mean Squared Error the training set (RMSE): {rmse:.3f}') #95.216

Root Mean Squared Error the training set (RMSE): 95.216

In [63]:

# Make predictions on the test set
y_test_prediction = model.predict(X_test_scaled)
mae_test = mean_absolute_error(y_test, y_test_prediction)

# Print the MAE into three decimal places
print(f'Mean Absolute Error (MAE) for the test set: {mae_test:.3f}') #53.634

Mean Absolute Error (MAE) for the test set: 53.643

In [61]:

# Make predictions on the test set
y_test_prediction  = model.predict(X_test_scaled)
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_prediction))
# Print the RMSE into to three decimal places
print(f'Root Mean Squared Error (RMSE) for the test set: {rmse_test:.3f}') #93.640

Root Mean Squared Error (RMSE) for the test set: 93.640

In [ ]:
#the model above did not overfit the training set.

In [73]:

# Create and train the Ridge regression model with default parameters
ridge_model = Ridge()
ridge_model.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_test_pred = ridge_model.predict(X_test_scaled)

# Calculate the RMSE for the test set
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))

# Print the RMSE
print(f'Root Mean Squared Error (RMSE) for the test set: {rmse_test:.3f}')

#yes there is a change in the output.

Root Mean Squared Error (RMSE) for the test set: 93.709

In [78]:

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

# Create and train the Lasso regression model with default parameters
lasso_model = Lasso()
lasso_model.fit(X_scaled, y)

# Obtain the feature weights (coefficients) from the Lasso model
feature_weights = lasso_model.coef_

# Print the feature weights
print('Feature Weights (Coefficients):')
for feature, weight in zip(X.columns, feature_weights):
    print(f'{feature}: {weight:.4f}')

# 20 or 21

Feature Weights (Coefficients):
Temperature_Kitchen: 0.0000
Humidity_kitchen: 34.6260
Temperature_livingroom: 0.0000
Humidity_livingroom: -0.0000
Temperature_laundryroom: 0.0000
Humidity_laundryroom: 0.0000
Temperature_officeroom: -0.0000
Humidity_officeroom: 0.0000
Temperature_bathroom: -0.0000
Humidity_bathroom: 0.0000
Temperature_outsidebuilding: 0.0000
Humidity_outsidebuilding: -0.0000
Temperature_ironingroom: -0.0000
Humidity_ironingroom: -0.0000
Temperature_teenagerroom: 0.0000
Humidity_teeenagerroom: -11.0451
Temperature_parentroom: -0.0000
Humidity_parentroom: -0.0000
T_out: 0.0000
Press_mm_hg: -0.0000
RH_out: -53.0956
Windspeed: 5.7490
Visibility: 0.0000
Tdewpoint: 0.0000
rv1: -0.0000
rv2: -0.0000

In [77]:
from sklearn.linear_model import Lasso


# Split the data into a training set and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Normalize the features using MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create and train the Lasso regression model with default parameters
lasso_model = Lasso()
lasso_model.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_test_pred = lasso_model.predict(X_test_scaled)

# Calculate the RMSE for the test set
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))

# Print the RMSE
print(f'Root Mean Squared Error (RMSE) for the test set: {rmse_test:.3f}')

Root Mean Squared Error (RMSE) for the test set: 99.424